@inherits LayoutComponentBase

<div class="d-flex" style="min-height: 100vh; margin: 0; padding: 0;">
    <!-- Sidebar -->
    <div class="sidebar bg-light border-end" style="min-width: 220px; margin: 0; padding: 0;">
        <NavMenu />
    </div>

    <!-- Main content -->
    @* <div class="flex-fill" style="padding: 1rem;">
        @Body
    </div> *@

    <div class="main" style="padding-bottom: 4rem;">
        <div class="content px-4">
            @Body
        </div>
    </div>


</div>
