@using Microsoft.AspNetCore.Components.Routing

<nav class="sidebar">

    <div class="nav flex-column">
        <NavLink class="nav-link" href="/watchlist" Match="NavLinkMatch.All">
            <span class="oi oi-graph" aria-hidden="true"></span> Watchlist
        </NavLink>

        <NavLink class="nav-link" href="/config">
            <span class="oi oi-cog" aria-hidden="true"></span> Configuration
        </NavLink>
    </div>
</nav>
